[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/custom/themes/powerlevel10k"]
	path = zsh/custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "zsh/custom/plugins/zsh-vi-mode"]
	path = zsh/custom/plugins/zsh-vi-mode
	url = git@github.com:jeffreytse/zsh-vi-mode
[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
