[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "dot_oh-my-zsh"]
	path = dot_oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "dot_zsh/custom/themes/powerlevel10k"]
	path = dot_zsh/custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "dot_zsh/custom/plugins/zsh-vi-mode"]
	path = dot_zsh/custom/plugins/zsh-vi-mode
	url = git@github.com:jeffreytse/zsh-vi-mode
